.box{
	margin-left: 25%;
	width: 600px;
	margin-top:10%;
	height: 370px;
	outline: 1px solid gray;
}
.block{
	text-align: center;
}
.bt1{
width: 200px;
height: 30px;
background-color:#01b3b3;
padding-bottom: 50px;
}
h6{
	color:white;
}
input{
	background-color:#ebf4f4;
}
.btn2{
	width: 400px;
height: 60px;
background-color:#01b3b3;
margin-left: 100px;
margin-top: 20px;
}
h4{
	color: white;
}